@media screen and (max-width: 576px) {

    .header-container,
    main {
        max-width: auto;
        margin: 0px auto;
        /* border: 1px solid red; */
    }

    .bannar-container {
        /* height: 600px; */
        padding: 36px 24px;

    }

    .bannar-content,
    .popular-content,
    .popular-img {
        width: auto;
    }

    .bannar-container h2 {
        font-size: 24px;
    }

    .similar-description {
        font-size: 14px;
    }


    .bannar-info,
    .popular-container,
    .destination-content,
    .choice-cart-container {
        width: auto;
        height: auto;
        flex-direction: column;
        margin-top: 30px;
        padding: 20px;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .america,
    .kashmir,
    .bd,
    .bandorban,
    .choice-cart-items,
    .choice-content {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
}

/* discount section  */
.discount-title {
    text-align: center;
}

/* discount-offer- */

.discount-offer-1 {
    height: auto;
    width: auto;
    padding: 50px 10px 10px 10px;
    margin: 20px;

}

.discount-offer-1-cart-2,
.discount-offer-1,
.discount-offer-2 {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.discount-offer-1-cart {
    padding: 20px;
    height: auto;
    width: auto;
}

.discount-offer-2 {
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.discount-offer-1-cart-2 {
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px;
}