@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

/* Simirar Style  */
.similar-description {

    color: rgba(19, 19, 24, 0.70);

    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.similar-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 35px;
    border: 0;
}

.similar-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.similar-second-heading {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.similar-cart-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0px;
}

/* Navbar Section Stylye  */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo span,
footer span {
    color: #FF5400;
}

.menu a {
    color: #424247;
    font-size: 18px;
    font-weight: 700;
    margin-left: 45px;
    text-decoration: none;
}

.mega-menu div {
    width: 50px;
    height: 6px;
    background-color: #FF5400;
    margin-top: 5px;
    border-radius: 8px;
    display: none;
}







.header-container {
    max-width: 1170px;
    margin: 0px auto;
}

/* Bannar Section Style Start  */
.bannar-container {
    height: 500px;
    background-image: url("../Images/Group 13 (1) (1).png");
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.bannar-content {
    width: 675px;
    text-align: center;
}

.bannar-content h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.bannar-info {
    width: 800px;
    height: 84px;
    background-color: #ffffff56;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 24px;
    border-radius: 8px;
}

.bannar-info-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: 0;
    text-align: start;
    font-size: 16px;
}

.bannar-info-btn i {
    margin-left: 30px;
}

/* Bannar Section Style End */

/* Popular Section Style Start */
main {
    max-width: 1170px;
    margin: 0px auto;
}

.popular-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
    gap: 40px;

}

.popular-content {
    width: 50%;
}

.popular-content p {
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.popular-content li,
.package-text li {
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    /* 162.5% */
}

.popular-content button,
.package-text button {
    margin-top: 30px;
}


.popular-img {
    width: 50%;
}

.popular-img img {
    width: 100%;
}

/* Popular Section Style End  */

/* Destination Section Style Start  */
.destination-container {}

.destination-content {
    width: 643px;
    margin: 0px auto;
    text-align: center;
}

.destination-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

.destination-img img {
    width: 100%;
    height: 100%;
}

.maldives {
    width: 573px;
    height: 300px;
}

.indonesia {
    width: 573px;
    height: 300px;
}

.srilanka {
    width: 374px;
    height: 286px
}

.america {
    width: 474px;
    height: 286px
}

.kashmir {
    width: 274px;
    height: 286px;
}

.bd {
    width: 473px;
    height: 300px;
}

.bandorban {
    width: 673px;
    height: 300px;
}

.accept {
    position: relative;
}

.send {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Destination Section Style End  */

/* Choice Section Style Start */
.choice-container {
    margin-top: 100px;
}

.choice-content {
    text-align: center;
    margin-bottom: 50px;
}

.choice-cart-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.choice-cart-items {
    width: 573px;
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    border-radius: 18px;

}

/* Choice Section Style End  */

/* Discount Section Style Start */
.discount-container {
    margin-top: 100px;
}

.discount-title {}

.discount-offer-1 {
    background-image: url("../Images/Group 39.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

.discount-offer-1-cart {
    width: 550px;
    height: 380px;
    background-color: #ffffff5f;


    padding: 50px;
    border-radius: 16px;
    margin-right: 50px;
}

.discount-offer-2 {
    background-image: url("../Images/Group 40.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.discount-offer-1-cart-2 {
    width: 550px;
    height: 380px;
    background-color: #ffffff5f;
    margin-left: 50px;
    padding: 50px;
    border-radius: 16px;
}

/* Discount Section Style End  */

/* Package Section Style Start  */
.package-container {
    margin-top: 50px;
}

.package-title {
    text-align: center;
}

.package-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}

.package-text {
    width: 50%;
}

.package-img {
    width: 50%;
    height: 442px;
    background-color: rgba(0, 0, 255, 0.403);
    border-radius: 16px;
    overflow: hidden;
}

.package-img video {
    height: 100%;
    width: 100%;
}

/* Package Section Style End  */

/* Contract Section Start  */
.contract-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.contract-form {
    width: 450px;
    height: 422px;
    border: 1px solid #FF5400;
    padding: 40px;
    border-radius: 16px;
}

.contract-form input {
    width: 100%;
    padding: 20px 14px;
    margin: 16px 0px;
    border-radius: 8px;
}

.contract-form button {
    background-color: #FF5400;
    border: 0;
    width: 100%;
    padding: 20px 14px;
    color: #fff;
    border-radius: 10px;

}



.contract-img {
    width: 672px;
    height: 422px;
    position: relative;
}

.contract-badge {
    width: 324px;
    height: 120px;
    background-color: #FF5400;

    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transform: rotate(-40deg);
    position: absolute;
    right: 0px;
    bottom: 90px;

}

/* Contract Section End  */
footer {
    text-align: center;
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    padding: 50px;
    margin: 0px auto;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}



.icons-container i {
    margin-left: 20px;
    font-size: 24px;
    margin-top: 30px;
}