@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

/* Simirar Style  */
.similar-description {

    color: rgba(19, 19, 24, 0.70);

    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.similar-button {
    color: #FFF;

    font-size: 20px;
    font-weight: 800;

    border-radius: 8px;
    background: #FF5400;
    padding: 13px 35px;
    border: 0;
}

.similar-heading {
    color: #131318;

    font-size: 40px;
    font-weight: 800;
}

.similar-second-heading {
    color: #131318;

    font-size: 24px;
    font-weight: 800;
}

.similar-cart-price {
    color: #FF5400;

    font-size: 20px;
    font-weight: 800;
    margin: 20px 0px;
}




.header-container {
    max-width: 1170px;
    margin: 0px auto;
    /* border: 1px solid red; */
}

/* Bannar Section Style Start  */
.bannar-container {
    height: 500px;
    background-image: url("../Images/Group 13 (1) (1).png");
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.bannar-content {
    width: 675px;
    /* border: 1px solid red; */
    text-align: center;
}

.bannar-content h2 {
    color: #FFF;

    font-size: 64px;
    font-weight: 800;
}

.bannar-info {
    width: 800px;
    height: 84px;
    background-color: #ffffff56;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 24px;
    border-radius: 8px;
}

.bannar-info-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: 0;
    text-align: start;
    font-size: 16px;
}

.bannar-info-btn i {
    /* font: 40px */
    margin-left: 30px;
}

/* Bannar Section Style End */
main {
    max-width: 1170px;
    margin: 0px auto;
}

.popular-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
    gap: 40px;

}

.popular-content {
    width: 50%;
}

.popular-content p {
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.popular-content li {
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    /* 162.5% */
}

.popular-content button {
    margin-top: 30px;
}


.popular-img {
    width: 50%;
}

.popular-img img {
    width: 100%;
}

/* Destination Start  */
.destination-container {}

.destination-content {
    width: 643px;
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid red; */
}

.destination-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

.destination-img img {
    width: 100%;
    height: 100%;
}

.maldives {
    width: 573px;
    height: 300px;
}

.indonesia {
    width: 573px;
    height: 300px;
}

.srilanka {
    width: 374px;
    height: 286px
}

.america {
    width: 474px;
    height: 286px
}

.kashmir {
    width: 274px;
    height: 286px;
}

.bd {
    width: 473px;
    height: 300px;
}

.bandorban {
    width: 673px;
    height: 300px;
}

/* choice section  */
.choice-container {
    margin-top: 100px;
}

.choice-content {
    text-align: center;
    margin-bottom: 50px;
}

.choice-cart-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.choice-cart-items {
    width: 573px;
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    border-radius: 18px;

}

/* discount section  */
.discount-container {
    margin-top: 100px;
}

.discount-title {}

.discount-offer-1 {
    background-image: url("../Images/Group 39.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

.discount-offer-1-cart {
    width: 550px;
    height: 380px;
    background-color: #ffffff5f;


    padding: 50px;
    border-radius: 16px;
    margin-right: 50px;
}

/* ssssssss  */
.discount-offer-2 {
    background-image: url("../Images/Group 40.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.discount-offer-1-cart-2 {
    width: 550px;
    height: 380px;
    background-color: #ffffff5f;
    margin-left: 50px;
    padding: 50px;
    border-radius: 16px;
}